<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ipleiria.estg.dei.emergencysts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmergencySTS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.enfermeiro.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.enfermeiro.CalcularMediaSemBotaoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.enfermeiro.IdadeMediaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.enfermeiro.TotalUtilizadoresActivity"
            android:exported="false" />
        <activity
            android:name=".activities.enfermeiro.EstatisticasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.paciente.EditarPerfilPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.enfermeiro.EditarPerfilEnfermeiroActivity"
            android:exported="false" />
        <activity
            android:name=".activities.enfermeiro.DetalhesTriagemActivity"
            android:exported="false" />
        <activity
            android:name=".activities.enfermeiro.PerfilEnfermeiroActivity"
            android:exported="false" />
        <activity
            android:name=".activities.enfermeiro.DetalhesPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.enfermeiro.ConsultarPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.paciente.PerfilPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.enfermeiro.AtribuirPulseiraActivity"
            android:exported="false" />
        <activity
            android:name=".activities.comum.HistoricoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.comum.MostrarPulseirasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.enfermeiro.EnfermeiroActivity"
            android:exported="false" />
        <activity
            android:name=".activities.paciente.PacienteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth.ConfigActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>